#!/bin/bash

az aks create \
  --resource-group your-aks-cluster-resource-group-name \
  --name your-aks-cluster-name \
  --kubernetes-version 1.14.5 \
  --network-plugin azure \
  --network-policy azure \
  --node-count 2 \
  --node-vm-size Standard_D2s_v3 \
  --enable-vmss \
  --enable-cluster-autoscaler \
  --min-count 2 \
  --max-count 5 \
  --service-principal your-sp \
  --client-secret your-sp-secret \
  --enable-addons monitoring \
  --workspace-resource-id "/subscriptions/your-subscription-id/resourcegroups/your-resource-group-name/providers/microsoft.operationalinsights/workspaces/your-workspace-id"