variable "aks_cluster_name" {}

variable "aks_cluster_rg" {}

variable "aks_cluster_location" {}

variable "aks_subnet_id" {}

variable "la_workspace_name" {}

variable "la_workspace_rg" {}

variable "tiller_image" {}

