variable "aks_cluster_name" {
  default = "your-aks-cluster-name"
}

variable "aks_cluster_rg" {
  default = "your-aks-cluster-resource-group-name"
}

variable "kured_image" {
  default = "docker.io/weaveworks/kured:1.2.0"
}

variable "la_workspace_name" {
  default = "your-log-analytics-workspace-name"
}

variable "la_workspace_rg" {
  default = "your-log-analytics-workspace-resource-group-name"
}

variable "tiller_image" {
  default = "gcr.io/kubernetes-helm/tiller:v2.16.0"
}

variable "istio_version" {
  default = "1.1.7"
}

variable "kiali_username" {
  default = "admin"
}

variable "kiali_pass" {
  default = "1f2d1e2e67df"
}

variable "grafana_username" {
  default = "admin"
}

variable "grafana_pass" {
  default = "1f2d1e2e67df"
}
